@keyframes enter {
  from {top: -600px;}
  to {top: 0px;}
}

@keyframes shift {
  from {top: -80px;}
  to {top: 0px;}
}

.location-item[slide='1'] {
  animation: enter;
  animation-duration: 2s;
}

.location-item[slide='2'] {
  animation-name: shift;
  animation-duration: 2s;
}

.location-item[slide='3'] {
  animation-name: shift;
  animation-duration: 2s;
}

.team-item[slide='2'] {
  animation-name: enter;
  animation-duration: 2s;
}

.team-item[slide='3'] {
  animation-name: shift;
  animation-duration: 2s;
}

.supplies-item[slide='3'] {
  animation-name: enter;
  animation-duration: 2s;
}