.date-location {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  min-width: 800px;
  
}

.date-location-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: fit-content;
  width: 80%;
  border-radius: 6px;
  padding: 40px;
  background-color: #6E5B4B;
  color: #e2e0e0;
  // border: 10px solid black;
  // box-shadow: 2px 4px 12px 3px rgb(170, 169, 169);
  box-shadow: 2px 4px 12px 3px #3c3f3b;
  min-width: 650px;
}

.date-location-box > h1 {
  font-size: 30px;
  margin: 20px;
  background-color: #52392F;
  border-radius: 6px;
  padding: 15px;
  border: 2px solid #50342a;
  box-shadow: 1px 1px 9px -1px #3c3f3b;
}

.date-location-dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date-location-dropdown > label {
  margin: 10px;
  font-size: 25px;
}

.date-location-dropdown * button {
  background-color: #4E6447;
  border: 1px solid #50342a;
  transition: 0.3s;
}

.date-location-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.date-location-form .error {
  margin-bottom: 30px;
}

.trail-input-wrapper {
  width: 100%;
}

.date-location-form > button {
  background-color: #4E6447;
  color: #e2e0e0;
  font-size: 20px;
  padding: 10px;
  margin: 20px;
  border-radius: 4px;
}

.date-location-form > button:hover {
  background-color: #325D41;
}

.date-location-form > button:active {
  background-color: #145E18;
}

.form-label {
  font-size: 20px;
  margin: 10px;
  margin-bottom: 15px;
}

// .startdate-form-input {
//   display: flex;
//   align-items: center;
//   margin-bottom: 10px;
// }

// .enddate-form-input {
//   display: flex;
//   align-items: center;
// }

.startdate-form-input label {
  margin-right: 10px;
}

.enddate-form-input label {
  margin-right: 10px;
}