.time-location-form button {
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: rgb(230,230,230);
    background: rgb(85,107,48);
    border: 1px solid transparent;
    padding: 5px 10px;
    outline: 0;
    border-radius: 4px;
    margin-top: 5px;
}

.form-label, .form-input {
    margin-top: 5px;
}

.form-label {
    margin-right: 5px;
}

