.review {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  min-width: 700px;
  color: #e2e0e0;
}

.review-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 660px;
  border-radius: 6px;
  padding: 20px;
  background-color: #6E5B4B;
  box-shadow: 2px 4px 12px 3px #3c3f3b;
}

.review-box > h1 {
  font-size: 30px;
  margin-bottom: 10px;
  background-color: #52392F;
  border-radius: 6px;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border: 2px solid #50342a;
  box-shadow: 1px 1px 9px -1px #3c3f3b;

}

.review-box * h2 {
  font-size: 30px;
  margin: 10px 20px 20px;
}

.review-date-location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review-date-location ul {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: #52392F;
}

.review-date-location * li {
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  background-color: #6E5B4B;
  border: 1px solid #fff;
  font-size: 15px;
  text-align: center;
}

.review-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 20px;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: 100px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 2px solid #50342a;
  box-shadow: 1px 1px 9px -1px #3c3f3b;

  background-color: #52392F;
  overflow-y: auto;
}

.team-list > li {
  width: 60%;
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  background-color: #6E5B4B;
  border: 1px solid #fff;
  font-size: 15px;
  text-align: center;
}

.review-supplies {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 20px;
}

.supply-lists {
  display: flex;
  justify-content: space-between;
}

.food-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}

.food-list ul {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 2px solid #50342a;
  box-shadow: 1px 1px 9px -1px #3c3f3b;

  background-color: #52392F;
  overflow-y: auto;
}

.food-list * li {
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  background-color: #6E5B4B;
  border: 1px solid #fff;
  font-size: 15px;
  text-align: center;
}

.equipment-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}

.equipment-list ul {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 2px solid #50342a;
  box-shadow: 1px 1px 9px -1px #3c3f3b;

  background-color: #52392F;
  overflow-y: auto;
}

.equipment-list * li {
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  background-color: #6E5B4B;
  border: 1px solid #fff;
  font-size: 15px;
  text-align: center;
}

.review-box > button {
  background-color: #4E6447;
      color: #e2e0e0;;
  font-size: 20px;
  padding: 10px;
  margin: 20px;
  border-radius: 4px;
}

.review-box > button:hover {
  background-color: #325D41;
}

.review-box > button:active {
  background-color: #145E18;
}

.review-field-wrapper {
  position: relative;
  display: flex; 
  width: 80%;
  justify-content: center;
}

#review {
  position: absolute;
  width: 25px;
  height: 25px;
}

.review-title {
  font-size: 30px;
  background-color: #52392F;
  border: 1px solid #50342a;
  box-shadow: 1px 1px 9px -1px #3c3f3b;
  min-width: 200px;
  max-width: 500px;
  text-align: center;
  transition: 0.3s;
}

.review-title:focus {
  background-color: #795c50;
}

#review-title-error {
  max-width: 200px;
  margin-top: -10px;
}

.review-error {
  margin-bottom: 20px;
  border: 1px solid #ff0000;
}

.wow {
  display: flex;
  flex-direction: column;
}