.start {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.start-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 50%;
  border-radius: 6px;
  padding: 40px;
  background-color: #6E5B4B;
  color: #939b91;
  // border: 5px solid #fff;
  box-shadow: 2px 4px 12px 3px rgb(170, 169, 169);
}

.start-box > h1 {
  font-size: 30px;
  margin-top: 60px;
  margin-bottom: 120px;
  background-color: #52392F;
  border-radius: 6px;
  padding: 15px;
  font-weight: 500;
  border: 2px solid #fff;
}

.start-form {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.start-form > label {
  font-size: 20px;
  margin-bottom: 20px;
}

.start-form > input {
  margin-bottom: 10px;
  border-radius: 4px;
  background: #816B58;
  color: #fff;
}

.start-form > button {
  background-color: #4E6447;
  color: #939b91;
  font-size: 20px;
  padding: 10px;
  border-radius: 4px;
}

.start-form > button:hover {
  background-color: #325D41;
}

.start-form > button:active {
  background-color: #145E18;
}