.start {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  
}

.start-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 50%;
  border-radius: 6px;
  padding: 40px;
  background-color: #6E5B4B;
  color: #939b91;
  // border: 5px solid #fff;
  // box-shadow: 2px 4px 12px 3px rgb(170, 169, 169);
  box-shadow: 2px 4px 12px 3px #3c3f3b;
}

.start-box > h1 {
  font-size: 30px;
  color: #e2e0e0;
  margin-top: 60px;
  margin-bottom: 120px;
  background-color: #52392F;
  border-radius: 6px;
  padding: 15px;
  font-weight: 500;
  border: 2px solid #50342a;
  box-shadow: 1px 1px 9px -1px #3c3f3b;
}

.start-form {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.start-form > label {
  font-size: 20px;
  margin-bottom: 20px;
  color: #e2e0e0;
}

.backpack-input {
  box-sizing: border-box;
  background: #816B58;
  color: #e2e0e0;
  width: 100%;
  font-size: 18px;
  line-height: 20px;
  padding: 7px 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #3a3a3a;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  transition: 0.3s;
}

.backpack-input.error {
  border: 1px solid #ff0000;
}

.backpack-input:focus {
  outline: 0;
  border: 1px solid lightgray;
  background: #8d7560;
}

.backpack-input-error {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #ff0000;
  margin-top: -25px;
  margin-bottom: 10px;
  left: 0;
}

.start-form .error {
  margin-bottom: 30px;
}

.start-form > button {
  background-color: #4E6447;
  color: #e2e0e0;
  font-size: 20px;
  padding: 10px;
  border-radius: 4px;
  transition: 0.3s;
}

.start-form > button:hover {
  background-color: #325D41;
}

.start-form > button:active {
  background-color: #145E18;
}

