.supplies {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 820px;
}

.supplies-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 50%;
  border-radius: 6px;
  padding: 20px;
  background-color: #6E5B4B;
  color: #e2e0e0;
  // box-shadow: 2px 4px 12px 3px rgb(170, 169, 169);
  box-shadow: 2px 4px 12px 3px #3c3f3b;
}

.supplies-box > h1 {
  font-size: 30px;
  margin-bottom: 10px;
  background-color: #52392F;
  border-radius: 6px;
  padding: 15px;
  border: 2px solid #50342a;
  box-shadow: 1px 1px 9px -1px #3c3f3b;
}

.food-form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 20px;
}

.food-form > label {
  font-size: 20px;
  margin-bottom: 20px;  
}

// .food-form .error {
//   margin-bottom: 30px;
// }

.supplies-box .error {
  margin-bottom: 30px;
}

.food-form > button {
  background-color: #4E6447;
  color: #e2e0e0;
  font-size: 20px;
  padding: 10px;
  border-radius: 4px;
}

.equipment-form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 20px;
}

.equipment-form > label {
  font-size: 20px;
  margin-bottom: 20px;
}

// .equipment-form > input {
//   margin-bottom: 20px;
// }

.equipment-form > button {
  background-color: #4E6447;
  color: #e2e0e0;
  font-size: 20px;
  padding: 10px;
  border-radius: 4px;
}

.food-form-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 30px;
}

.food-form-list > ul {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 2px solid #50342a;
  box-shadow: 1px 1px 9px -1px #3c3f3b;
  background-color: #52392F;
  overflow-y: auto;
}

.food-form-list * li {
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  background-color: #6E5B4B;
  border: 2px solid #50342a;
  box-shadow: 1px 1px 9px -1px #3c3f3b;
  font-size: 15px;
}

.equipment-form-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 30px;
}

.equipment-form-list > ul {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 2px solid #50342a;
  box-shadow: 1px 1px 9px -1px #3c3f3b;
  background-color: #52392F;
  overflow-y: auto;
}

.equipment-form-list * li {
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  background-color: #6E5B4B;
  border: 2px solid #50342a;
  box-shadow: 1px 1px 9px -1px #3c3f3b;
  font-size: 15px;
}

.supplies-box > button {
  background-color: #4E6447;
  color: #e2e0e0;
  font-size: 20px;
  padding: 10px;
  border-radius: 4px;
}

.supplies-box > button:hover {
  background-color: #325D41;
}

.supplies-box > button:active {
  background-color: #145E18;
}