.team {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 670px;
  color: #e2e0e0;
}

.team-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 50%;
  border-radius: 6px;
  padding: 40px;
  background-color: #6E5B4B;
  // box-shadow: 2px 4px 12px 3px rgb(170, 169, 169);
  box-shadow: 2px 4px 12px 3px #3c3f3b;
}

.team-box > h1 {
  font-size: 30px;
  margin-bottom: 10px;
  background-color: #52392F;
  border-radius: 6px;
  padding: 15px;
  border: 2px solid #50342a;
  box-shadow: 1px 1px 9px -1px #3c3f3b;
}

.team-form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 20px;
}

.team-form > label {
  font-size: 20px;
  margin-bottom: 20px;
}

.team-form > input {
  margin-bottom: 20px;
}

.team-form-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 30px;
}

.team-form-list > ul {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 200px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 2px solid #50342a;
  box-shadow: 1px 1px 9px -1px #3c3f3b;
  background-color: #52392F;
  overflow-y: auto;
}

.team-form-list * li {
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  background-color: #6E5B4B;
  border: 2px solid #50342a;
  box-shadow: 1px 1px 9px -1px #3c3f3b;
  font-size: 15px;
}

.team-btn {
  background-color: #4E6447;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  border-radius: 4px;
}

.team-btn:hover {
  background-color: #325D41;
}

.team-btn:active {
  background-color: #145E18;
}