.trips-page {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10px;
  background-image: linear-gradient(to bottom right,rgb(58, 58, 58, .3), rgba(58,58,58, 0)),  url('../../assets/images/backpack-bg.jpg');
  background-size: cover;
  background-blend-mode: 0.9;
}

.trip-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 796px;
  min-width: 400px;
  background-image: url('../../assets/images/backpack.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.trip-list-wrapper {
  height: 60%;
  overflow-y: scroll;
  width: 100%;
}

.trips-list-ul {
  display: flex;
  flex-direction: column-reverse;
}

.trip-list-wrapper::-webkit-scrollbar {
  width: 6px;
  opacity: 0;
  z-index: 1000;
}

.trip-list-wrapper::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
.trip-list-wrapper::-webkit-scrollbar-thumb {
  background: #b67543; 
  border-radius: 10px;
  z-index: 1000;
  opacity: 0;
  transition: 0.3;
}

.trip-list-wrapper::-webkit-scrollbar-thumb:hover {
  width: 20px;
  cursor: pointer;
  opacity: 0.2;
}


.trip-list * li {
  width: 50%;
  border-radius: 4px;
  margin-left: 200px;
  margin-top: 30px;
  line-height: 2.5;
  color: #fff;
  text-align: center;
  background-color: #808080;
  font-size: 25px;
  color: white; 
  font-weight: 600;
}

.trip-list * li:hover {
  cursor: pointer;
}

.trip-show-section {
  margin-right: 5rem;
  width: 50%;
}