.widget-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.widget-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 5px;
    box-shadow: 2px 8px 12px #60625f;
}

.widget-info {
    background-color: #6e5b4b;
    height: 300px;
}

.widget-map {
    margin-left: 5px;
    height: 300px;
    width: 550px;
}


