.map-page {
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    // padding-top: 20px;
    // height: 800px;
    // background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url('../../assets/images/map-bg.jpg');
    // background-size: cover;
}

.map-container {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.map-info {
    background-color: #6e5b4b;
}

.map-widget {
    padding-left: 5px;
    border-radius: 4px;
}


