.map-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    height: 800px;
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url('../../assets/images/map-bg.jpg');
    background-size: cover;
}

.map-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.map-info {
    background-color: rgb(134, 156, 119);
    padding-top: 20px;
    border-top: 3px solid rgb(37, 61, 26);
    border-left: 3px solid rgb(37, 61, 26);
    border-right: 3px solid rgb(37, 61, 26);
}

.map-widget {
    border-bottom: 3px solid rgb(37, 61, 26);
    border-left: 3px solid rgb(37, 61, 26);
    border-right: 3px solid rgb(37, 61, 26);
}


