.modal-background {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url('../assets/images/modal-bg.jpg');
  background-size: cover;
  background-blend-mode: 0.9;
}

.modal-child {
  background: rgb(134, 156, 119);
  margin: 0 auto;
  opacity: 1;
}

.modal {
  background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url('../assets/images/modal-bg.jpg');
  background-size: cover;
  background-blend-mode: 0.9;
}

.modal-content {
  all: initial;
  // border: none;
  // width: 400px;
}

.modal-form-header {
  background: rgb(105, 83, 63);;
  height: 80px;
  padding: 12px;
  font-size: 40px;
  font-family: Kalam;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid  rgb(37, 61, 26);
}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}

.auth-form-field {
  font-family: 'Architects Daughter', cursive;
  font-size: 25px;
  color: white;
  
}

.auth-input {
  font-family: 'Architects Daughter', cursive;
  font-size: 25px;
  color: white;
  background: rgb(117, 139, 102)
}

.auth-input.error {
  box-shadow: 0px 0px 0px 2px #ff0000;
}

.auth-error {
  position: absolute;
  font-family: 'Architects Daughter';
  font-size: 15px;
  font-weight: 700;
  color: red;
  margin-top: -25px;
}

.modal-form input {
  width: 100%;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 20px;
  padding: 7px 8px;
  border-radius: 5px;
  margin-bottom: 30px;
  border: 1px solid gray;
}

.modal-form input:focus {
  outline: 0;
  border: 1px solid lightgray;
}

#submit {
  cursor: pointer;
  color: white;
  background: rgb(37, 61, 26);
  font-family: 'Montserrat';
  font-size: 18px;
  padding: 10px 0px;
  outline: 0;
  border: none;

}

.modal-placeholder{
  font-family: 'Architects Daughter', cursive;
}

#submit:hover {
  background: rgb(41, 114, 41);
}

#submit:active {
  background: rgb(29, 100, 29);
}

.modal-body {
  padding: 0;
}
