
.modal-child {
  background: #6E5B4B;
  margin: 0 auto;
  opacity: 1;
}

.modal {
  background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url('../assets/images/modal-bg.jpg');
  background-size: cover;
  background-blend-mode: 0.9;
}

.modal-content {
  // all: initial;
  border: none;
  // width: 400px;
}

.modal-form-header {
  background: #3a3a3a;
  height: 80px;
  padding: 12px;
  font-size: 40px;
  font-family: Kalam;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid #325D41;
  ;
}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}

.auth-form-field {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  color: #fff;
  
}

.auth-input {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  color: #fff;
  background: #816B58;
  margin-top: 5px;
}

.auth-input.error {
  box-shadow: 0px 0px 0px 2px #ff0000;
}

.auth-error {
  position: absolute;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: red;
  margin-top: -25px;
}

.modal-form input {
  width: 100%;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 20px;
  padding: 7px 8px;
  border-radius: 5px;
  margin-bottom: 30px;
  border: 1px solid #3a3a3a;
}

.modal-form input:focus {
  outline: 0;
  border: 1px solid #fff;
}

#submit {
  cursor: pointer;
  color: #fff;
  background: #4E6447;
  font-family: 'Montserrat';
  font-size: 18px;
  padding: 10px 0px;
  outline: 0;
  border: none;

}

#submit:hover {
  background: #325D41;
}

#submit:active {
  background: #145E18;
}

.login-btn {
  border-radius: 4px;
}

.signup-btn {
  border-radius: 4px;
}
.modal-placeholder{
  font-family: 'Raleway', sans-serif;
}


.modal-body {
  padding: 0;
}
