.weather-container {
  width: 360px;
  height: 565px;
  background: white;
  background: rgb(244, 245, 243);
  border: 3px solid #253d1a;
}

.weather-header-container {
  width: 100%;
  height: 290px;
  min-height: 200px;
  background: rgb(134, 156, 119);
  border-bottom: 1px solid lightgray;
}

.weather-header-wrapper {
  padding: 5px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-currentpark {
  font-size: 25px;
  height: 50px;
  margin: 2px auto;
  text-align: center;
}

.temperature {
  font-size: 50;
  margin: 2px auto;
}

.weather-condition-icon {
  width: 100px;
  height: 100px;
  margin: 5px auto;
}

.weather-condition-container {
  // height: 100%;
}

.weather-condition-ul {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
}

.weather-condition-ul li {
  margin: 10px auto;
  width: 50%;
  height: 40px;
  text-align: center;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.weather-condition-item-description {
  margin-bottom: 5px;
}

.weather-condition-item-values {
  font-size: 16px;
}

.forecast-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.forecast-day {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.forecast-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}